html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    border: 2px solid black;
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a{
    text-decoration: none;
}

p{
    color: red;
}

.box div{
    font-size: 16px;
    width: 300px;
    background-color: #b8b8b8;
    transition: 0.5s ease-in-out;
}

.box div:hover{
    font-size: 12px;
    background-color: yellow;
}

li:nth-child(1){
    font-size: 20px;
}
li:nth-child(2){
    font-size: 30px;
}
li:nth-child(3){
    font-size: 40px;
}