html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card1,.card2{
    margin-top: 30px;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    background-color: black;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 20px;
}

.card1:hover{
    transition: 0.8s ease-in-out;
    transform: scale(1.1);
}

.card1:not(:hover){
    transition: 0.8s ease-in-out;
    transform: scale(1);    
}

.card1 button:hover{
    transition: 0.8s ease-in-out;
    transform: scale(0.9);
}

.card1 button:not(:hover){
    transition: 0.8s ease-in-out;
    transform: scale(1);    
}

.card2:hover{
    transition: 0.3s ease-in-out;
    position: relative;
    top: -10px;
}
.card2:not(:hover){
    transition: 0.8s ease-in-out;
    position: relative;
    top: 0px;    
}