*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.sign-in{
    border: 1px solid rgb(195, 195, 195);
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgb(159, 159, 159);
    width: 435px;
    height: 660px;
    margin: 200px auto;
    overflow: hidden;
}

.header{
    width: 100%;
    height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.qr-box-out{
    width: 59px;
    height: 59px;
    overflow: hidden;
}

.qr-box{
    float: left;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-right: 60px solid white;
    z-index: 2;
    position: relative; 
    filter: drop-shadow(-4px -4px 10px rgba(197, 197, 197, 0.3));
}


.qr{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    left: 10px;
    top: -50px;
    z-index: 1;
}

.esc{
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: rgb(150, 150, 150);
    cursor: pointer;
    position: relative;
    top: -60px;
}

.esc:hover{
    background-color: rgb(255, 45, 45);
    color: white;
}

.logo{
    width: 70px;
    height: 70px;
    display: block;
    margin:  auto;
}

.input{
    width: 100%;
    margin: 30px auto;
    font-size: 16px;
}

.input-top{
    width: 350px;
    margin: 8px auto;
}

.choose{
    padding: 4px 0 4px 0;
    width: 120px;
    height: 50px;
    border: 1px solid rgb(200, 200, 200);
    border-top-left-radius: 4px;
    float: left;
    line-height: 40px;
    font-size: 14px;
    color: rgb(100, 100, 100);
    border-bottom: none;
}

.choose img{
    width: 25px;
    margin: 8px 10px;
    margin-left: 2px;
    float: left;
}

.number{
    float: left;
    margin-top: 4px;
}

.number-list{
    display: none;
    list-style: none;
    width: 83px;
    border: 1px solid rgb(200, 200, 200);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    background-color: white;
    margin-top: 40px;
    z-index: 1;
    position: relative;
    left: -105px;
    top: -14px;
    padding-left: 37px;
}   

.triangle-down{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(100, 100, 100);
    float: right;
    margin: 21px 10px;
}

.choose:hover .number-list{
    display: block;
}

.choose .number-list li:hover{
    color: rgb(255, 45, 45);
    cursor: pointer;
}

#form-1,#form-2{
    width: auto;
}

#form-1 input,#form-2 input{
    padding: 4px;
    font-size: 18px;
    height: 50px;
    border: 1px solid rgb(200, 200, 200);
    float: left;
    outline: none;
}

#form-1 input{
    padding: 4px;
    border-left: none;
    border-bottom: none;
    width: 210px;
    height: 50px;
    border-top-right-radius: 4px;
}

#form-1::after{
    content: "";
    display: block;
    clear: both;
}

#form-2 input{
    width: 331px;
    height: 50px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#form-2::after{
    content: "";
    display: block;
    clear: both;
}

#al input {
    width: 16px;
    height: 16px;
    float: left;
    outline: none;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 40px;
}
#al label {
    margin-top: 3px;
    float: left;
}

#forget{
    width: 80px;
    padding-left: 10px;
    border-left: 2px solid rgb(200, 200, 200);
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 6px;
    font-size: 14px;
    float: right;
    
    color: rgb(33, 182, 240);
    font-weight: 500;
}

#vcl{
    font-size: 14px;
    float: right;
    margin-top: 6px;
    
    color: rgb(33, 182, 240);
    font-weight: 500;
}

#vcl:hover,#forget:hover{
    color: rgb(255, 45, 45);
}

.button-part{
    width: 100%;
    height: 100px;
    text-align: center;
    height: 50px;
    margin-top: 90px;
}

#sign-in-button{
    width: 331px;
    height: 50px;
    background-color: rgb(255, 69, 0);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    cursor: pointer;
} 

#sign-in-button:hover{
    color: rgb(255, 69, 0);
    background-color: white;
    box-shadow: 0px 0px 10px rgb(128, 45, 45);
    position: relative;
    top: -2px;
}

.sign-up{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#sign-up-button{
    font-size: 20px;
}

#sign-up-button:hover{
    color: rgb(255, 45, 45);
    cursor: pointer;
}   

.other-sign-in{
    width: 100%;
    white-space: nowrap;
    margin: 0 auto;
}

.other-sign-in li{
    list-style: none;
    width: 25%; 
    float: left;
    text-align: center;
}

.other-sign-in ul::after{
    content: "";
    display: block;
    clear: both;
}

.other-sign-in img{
    width: 45px;
    margin-top: 80px;
}

.other-sign-in img:hover{
    position: relative;
    top: -3px;
    cursor: pointer;
}

#footer{
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 20px;
}

#footer input{
    width: 14px;
    height: 14px;
    float: left;
    outline: none;
    margin-top: 10px;
    margin-right: 10px;
}

#footer input:hover{
    position:relative;
    top: -1px;
    cursor: pointer;
}

#footer p{
    float: left;
    text-align: center;
    color: rgb(150, 150, 150);
    font-size: 15px;
    margin-top: 5px;
}